* {
color: rgba(250, 250, 250);
    font-family: sans-serif;
    text-shadow: 0 0 4px black;
}

html {
background: hsl(110, 34%, 16%);
margin: 0;
padding: 0;
}

body {
margin: 0.5rem auto;
        max-width: 720px;
}

p {
    margin-bottom: 1rem;
}

ol li {
    margin-bottom: 0.5rem;
}
